<!DOCTYPE html>
<html>
<head>
<title>Results</title>
<link rel="stylesheet" type="text/css" href="../../public/css/style.css">
</head>
<body>

<h1 class="vine" >Your results are down below! ⬇️</h1>
<%=@results%>


<p>Depending on your most frequent answer, click the corresponding tab.<br>
a= Memey MEMES<br>
b= quotable MAINSTREAM<br>
c= Chill and HAPPY<br>
d= good ol LAUGH<br>
e= vine VETERAN<br>
f= PICKMEUP</p>

<a href="/">Go back home!</a>

<style>
  
body {
  background: #84DEC4;
}

.vine {
  font-size: 300%;
     background-color: #00A478;
     text-align: center;
     font-family: Arial;
     border: 10px solid #005E49;
     text-transform: uppercase;
     letter-spacing: 15px;
}

.vine2 {
  font-size: 100%;
     background-color: #00A478;
     text-align: center;
     font-family: Times New Roman;
     border: 10px solid #005E49;
}

.vine3 {
  font-size: 150%;
     text-align: center;
     font-family: Arial;
}

.vine4 {
  font-size: 150%;
     text-align: center;
     font-family: Times New Roman;
}

</style>
</body>
</html>